$toolbarHeight: 20px;
$gridsterPaddingHeight: 20px;

#toolbar {
  background: #657585;
  color: white;
  padding: 10px;
  height: $toolbarHeight;
}

#gridParent {
  background: #B9BFC5;
  height: calc(100% - #{$toolbarHeight} - #{$gridsterPaddingHeight}); // minus toolbar height and grister padding
}

/deep/ .grid-card {
  background: rgba(255, 255, 255, .9);
}
